services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "3002:3000"
    volumes:
      - .:/app
      - /app/node_modules
      - /app/.next
    environment:
      - NODE_ENV=development
      - USER_SEED=1
      - AGENTVERSE_TOKEN=eyJhbGciOiJSUzI1NiJ9.eyJleHAiOjE3NjMzMTg5MjksImdycCI6ImludGVybmFsIiwiaWF0IjoxNzU1NTQyOTI5LCJpc3MiOiJmZXRjaC5haSIsImp0aSI6IjAyYWNiMzlmODdmZTE3MDIyMTc3NjE2YSIsInNjb3BlIjoiYXYiLCJzdWIiOiIxM2JhOWQ2NTk1MmFhZmUyMTJiOTAxN2UwMDBkNWVlY2ZkZjFkYTdlNGI1NGYzMjkifQ.gEn4deBjj570CeFU_qM-R9GhGOMkeJYISopwBQX9Va9vtaGsBQDj7M0LyLbC-yqxNkzWifsRqPvc2Q4t0gCCxFKgSnXgk9LxcUXUzkIsjSeiJgBRvNayaqL5iYUtQDY_-UJ195__Yhgh-NWAWqsOysv4r40lggGHzNf9Az9xWjyvrUrmLOZD9HTNmu3f7Fm1Xhts6ETqz2c1WaaRhtpnp508oelPE8A4MuZcL4SPZWP97I424a2PR195IZKOXLaow-gLeo8GqP_CTJR7_k1kQS-O7OlX7i3m6syFvlS0XuswCWbKHmwDR1V3ivuP4kujGlCIWWAtrHAsXdKIk-YpWQ